*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
}

header {
  background: #333;
  color: #fff;
  padding: 15px 0;
  text-align: center;
}

nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
}

section {
  margin: 40px 0;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h1, h2 {
  color: black;
}

ul {
  list-style-type: none;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #222;
  color: #ccc;
  margin-top: 40px;
}